<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel Administratora - Maszyny</title>
  <link rel="stylesheet" href="/admin.css"> <!-- Link do pliku CSS -->
</head>
<body>
  <!-- Nagłówek i nawigacja -->
  <header>
    <div class="logo-container">
      <img src="./images/Logo.png" alt="Logo" class="logo">
    </div>
    <nav class="navbar">
      <ul>
        <li><a href="/admin">Strona główna</a></li>
        <li><a href="/admin/machines">Maszyny</a></li>
        <li><a href="/admin/users">Użytkownicy</a></li>
      </ul>
    </nav>
    <!-- Formularz wylogowania -->
    <form action="/logout" method="GET" class="logout-form">
      <button type="submit" class="logout-btn">Wyloguj się</button>
    </form>
  </header>

  <!-- Główna zawartość -->
  <main>
    <h1>Maszyny</h1>
    <div class="machines-container">
      <% machines.forEach(machine => { %> 
      <div class="machine-item">
        <div class="machine-header">
          <h2 class="machine-name"><%= machine.name %></h2>
        </div>
        <div class="machine-body">
          <div class="machine-image">
            <img src="<%= machine.image_url %>" alt="<%= machine.name %>" class="machine-img">
          </div>
          <div class="machine-description">
            <p><%= machine.description %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </main>

  <!-- Stopka -->
  <footer>
    <p>&copy; 2025 Jan Zioło. Wszelkie prawa zastrzeżone.</p>
  </footer>
</body>
</html>
