<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Logowanie</title>

    <!-- Główne style CSS -->
    <link rel="stylesheet" href="/login.css" />

    <!-- Ikony Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="background-wrapper">
      <div class="overlay"></div>

      <div class="wrapper">
        <!-- Formularz logowania -->
        <form action="/login" method="POST">
          <h1>Logowanie</h1>

          <!-- Pole na login -->
          <div class="input-box">
            <input
              name="username"
              type="text"
              placeholder="Login"
              required
              autocomplete="username"
            />
            <i class="bx bxs-user"></i>
          </div>

          <!-- Pole na hasło -->
          <div class="input-box">
            <input
              name="password"
              type="password"
              placeholder="Hasło"
              required
              autocomplete="current-password"
            />
            <i class="bx bxs-lock-alt"></i>
          </div>

          <!-- Przycisk logowania -->
          <button type="submit" class="btn">Zaloguj się</button>
        </form>
      </div>
    </div>
  </body>
</html>
